.main-container {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  .header {
    text-align: center;
    margin-bottom: 2rem;
    .title {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
      color: #222;
    }
    .subtitle {
      font-size: 1rem;
      color: #555;
    }
  }
  .score-display-container {
    margin-bottom: 1.5rem;
    .labels-container {
      margin-top: 0.5rem;
      color: #666;
      .label {
        flex: 1 1 100px;
        text-align: center;
      }
      .score {
        font-size: 5rem;
        font-weight: 700;
        text-align: center;
      }
    }
  }
  .values-container {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
    min-width: calc(50% - 0.5rem);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .actions {
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: flex-end;
    // flex-wrap: wrap;
    // max-width: 40%;
    button {
      //   flex: 1;
      min-width: 100px;
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;
      font-weight: 500;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      &:hover {
        background-color: #0056b3;
      }
      svg {
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
        margin-right: 0.15rem;
      }
    }
  }
  .route-length-container {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    .card {
      flex: 0 1 calc(50% - 0.25rem);
      height: 100px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //   max-width: calc(50% - 0.5rem);
      background-color: #666;
      padding: 0.5rem;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      .card-label {
        color: #fff;
        font-size: 2.25rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      .card-count {
        color: #aaa;
        font-size: 0.75rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
    }
    .length-input {
      flex: 1;
    }
  }
}
