.main-container {
  background-color: #48426d;
  height: 100vh;
  font-family: "Roboto", sans-serif;

  .score-display-container {
    background-color: #f0c38e;
    border-radius: 0 0 12% 12%;
    // height: 45vh;
    .header {
      text-align: center;
      padding-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .title {
        background-color: #312c51;
        color: #312c51;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.5rem;
        border-radius: 20px;
        width: 50vw;
        align-self: center;
        color: #f0c38e;
      }
    }
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      .labels-container {
        margin-top: 0.5rem;
        color: #48426d;
        .label {
          flex: 1 1 100px;
          text-align: center;
        }
        .score {
          font-size: 10rem;
          font-weight: 700;
          margin-left: 10%;
          line-height: 1;
          letter-spacing: -0.08em;
        }
      }
      .actions-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        flex-direction: column;
        .action-button {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 4rem;
          height: 4rem;
          background-color: #312c51;
          color: #f0c38e;
          padding: 1rem;
          border-radius: 20px;
          cursor: pointer;
          font-weight: 600;
          &:hover {
            background-color: #48426d;
          }
          svg {
            width: 2.5rem;
            height: 2.5rem;
          }
          span {
            font-size: 0.5rem;
            margin-top: 0.2rem;
          }
        }
        .undo-button svg {
          transform: rotate(90deg);
        }
      }
    }
  }
  .values-container {
    display: flex;
    gap: 0.15rem;
    align-items: center;
    margin-left: 10%;
    flex-wrap: wrap;
    margin-right: 10%;
    padding-bottom: 0.5rem;
    justify-content: flex-end;
    min-width: calc(50% - 0.5rem);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .actions {
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: flex-end;
    // flex-wrap: wrap;
    // max-width: 40%;
    button {
      //   flex: 1;
      min-width: 100px;
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;
      font-weight: 500;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 25%;
      cursor: pointer;
      &:hover {
        background-color: #0056b3;
      }
      svg {
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
        margin-right: 0.15rem;
      }
    }
  }
  .route-length-container {
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    .card {
      flex: 0 1 calc(50% - 0.25rem);
      height: 100px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //   max-width: calc(50% - 0.5rem);
      background-color: #312c51;
      padding: 0.5rem;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      .card-label {
        color: #fff;
        font-size: 2.25rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      .card-count {
        color: #aaa;
        font-size: 0.75rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
    }
    .length-input {
      flex: 1;
    }
  }
}
